<div class = "wrapper">
    <div class = "mt-3">
        <span>{{oldPasswordText}} </span>
        <input type = "password"
         [ngClass] = "{'input-error': !oldPassword}" [(ngModel)] = "oldPassword" pInputText/>
    </div>
    <div class = "mt-3">
        <span>{{newPasswordText}} </span>
        <input type = "password"
         [ngClass] = "{'input-error': !newPassword}" [(ngModel)] = "newPassword" pInputText/>
    </div>
    <div class = "mt-3">
        <span>{{doublePasswordText}} </span>
        <input type = "password"
         [ngClass] = "{'input-error': !doublePassword}" [(ngModel)] = "doublePassword" pInputText/>
    </div>
    <div class = "mt-auto">
        <button class = "btn btn-success mt-4" type = "button"
		 (click) = "changePassword($event)" [disabled] = "!oldPassword || !newPassword || !doublePassword">
            {{changePasswordButtonText}}
        </button>
    </div>
</div>