<div class = "d-flex flex-column input-wrap m-auto">
	<div class = "mt-3">
     	<span>{{loginText}} </span>
     	<input type = "text"
		 [ngClass] = "{'input-error': !login}" [(ngModel)] = "login" pInputText/>
	</div>
	<div class = "mt-3">
		<span>{{password1Text}} </span>
     	<input type = "password"
		 [ngClass] = "{'input-error': !password1}" [(ngModel)] = "password1" pInputText/>
	</div>
	<div class = "mt-3">
		<span>{{password2Text}} </span>
     	<input type = "password"
		 [ngClass] = "{'input-error': !password2}" [(ngModel)] = "password2" pInputText/>
	</div>
	<div class = "mt-3">
     	<span>{{mailText}} </span>
     	<input type = "text"
		 [(ngModel)] = "mail" pInputText/>
	</div>
	<div class = "mt-3">
     	<span>{{cardText}} </span>
     	<input type = "text"
		 [(ngModel)] = "card" pInputText/>
	</div>
	<div class = "m-auto">
		<p-checkbox class = "mt-4" label = "Сохранить пользователя" name = "localStorage"
         [binary] = "true" [(ngModel)] = "storage"></p-checkbox>
	</div>
	<div class = "m-auto">
     	<button class = "btn btn-success mt-4" type = "button"
		 (click) = "onRegister($event)" [disabled] = "!login || !password1 || !password2">
          	{{registrationButtonText}}
     	</button>
	</div>
</div>