<div *ngIf = "isRendered">
    <p class = "pl-4">&nbsp;Количество туров: {{tours.length}}</p>
    <p class = "pl-4">&nbsp;Выбранный тур: №{{borderDirective.activeElementIndex + 1}}</p>
</div>
<div>
    <span class = "pl-4">&nbsp;Поиск тура: </span>
    <input #tourSearch class = "ml-2" type = "text"
     [(ngModel)] = "tourSearchValue" pInputText>
</div>
<div *ngIf = "tours">
    <div class = "d-flex flex-wrap justify-content-around" #borderDirective = "border" #list
     appBorder [initFirst] = "true" (isRendered) = "directiveIsRendered($event)" [selector] = "'*.tour'">
        <div class = "d-flex flex-column justify-content-between m-2 p-2 tour"
         (click) = "openInfoPage(tour)" *ngFor = "let tour of tours">
            <div>{{tour.name}}</div>
            <img alt = "picture" src = "{{tour.image}}">
        </div>
    </div>
</div>