<div *ngIf = "tours">
    <div *ngIf = "isRendered">
        <p class = "pl-4">&nbsp;Количество туров: {{list.childElementCount}}</p>
        <p class = "pl-4">&nbsp;Выбранный тур: №{{borderDirective.activeElementIndex + 1}}</p>
    </div>
    <div class = "d-flex flex-wrap justify-content-around" #borderDirective = "border" #list
     appBorder [initFirst] = "true" (isRendered) = "directiveIsRendered($event)" [selector] = "'*.tour'">
        <div class = "d-flex flex-column justify-content-between m-2 p-2 tour"
         (click) = "openInfoPage(tour)" *ngFor = "let tour of tours">
            <div>{{tour.name}}</div>
            <img alt = "picture" src = "./assets/images/{{tour.img}}">
        </div>
    </div>
</div>